<h1><%= @post.title %></h1>
<img src="<%=  @post.image_url %>"/>

<%= form_for [@post, @comment]  do |f| %>
  <%= f.label :comment  %>
  <%= f.text_field :content %>
  <%= f.submit "Submit" %>
<% end %>

<%= render @comments %>
