<nav>
  <span class="brand">
    <%= link_to "IMGOVERFLOW", root_path %>
  </span>
  <span class="menu">
    <%= link_to "Sign Up", signup_path if current_user.nil? %>
    <%= link_to "Sign In", new_session_path if current_user.nil? %>
    <%= link_to "Profile", user_path(current_user) if current_user %>
    <%= link_to "Log Out", logout_path if current_user %>

  </span>
</nav>


