<h2> Check Out Your URLs! <h2>

<%= form_for @url, :url => { :action => "create" } do |f| %>
  <%= f.text_field :long_url %>
  <%= f.submit "Create" %>
<% end %>
<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<% if @urls %>
  <ul>
    <% @urls.each do |url| %>
      <li><%= link_to "#{url.short_url} (#{url.long_url})", url.short_url %></li>
    <% end %>
  </ul>
<% end %>
